#body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10vh 25vw 10vh 25vw;
}

@media (max-width: 850px) {
  #body {
    margin: 80px 60px 80px 60px;
  } 
}


#body > div {
  margin-bottom: 20px;
}